.star {
  width: 100%;
  height: 500px;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
}

.c-bg {
  position: relative;
}

.line {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 2.5rem;
  text-align: center;
  border-right: solid 2px rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  overflow: hidden;
  width: 22ch;
  animation: typewriter 3s steps(18) 1s infinite,
    cursor 500ms steps(18) infinite;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 18ch;
  }
}

@keyframes cursor {
  0% {
    border-right-color: rgba(255, 255, 255, 0.7);
  }
  100% {
    border-right-color: transparent;
  }
}
