.carousel-caption {
  position: absolute;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.stretched-link,
.stretched-link:hover {
  text-decoration: none;
  color: white;
  text-align: center;
}

.cover-back {
  width: 100% !important;
}
