.cover-imgvk img {
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

.containervk {
  display: flex;
  position: sticky;
  margin: 0% 15% 3% 15%;
  align-content: center;
}

.container-cardvk {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardvk {
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin: 2rem;
  margin-bottom: 0;
  border: 1px solid rgb(212, 209, 209);
}

.thumbvk img {
  width: 100%;
  height: 15rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-bodyvk {
  margin: 0rem 0rem 0.5rem 0.5rem;
}

.card-titlevk {
  margin-top: -1rem;
  font-size: 1.5em;
  font-family: "M PLUS 1p", sans-serif;
}

.card-contentvk p {
  margin: 0.5rem 0rem 0.5rem 0rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style: none;
}

.card-detailsvk-ul {
  margin-top: 0.5rem;
  color: dodgerblue;
  font-weight: bold;
}

@media (max-width: 540px) {
  .container-cardvk {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 1rem;
  }
  .containervk {
    margin: 0;
  }
  .cover-imgvk img {
    display: none;
  }
  .cardvk {
    margin: 0rem;
    margin-bottom: 5px;
  }
  .fact-con-cardvk {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 461px) and (max-width: 1023px) {
  .container-cardvk {
    grid-template-columns: 1fr 1fr;
  }
}
