.nav-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 55px;
  font-weight: bold;
  color: white;
}

/* .brand-logo {

} */

.nav-list-item {
  list-style-type: none;
  margin-top: auto;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

.nav-list {
  display: flex;
  z-index: 100000;
  margin: 0.4rem 9rem;
}

.menu-icon {
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.nav-link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.search-area {
  display: flex;
}

.search-b {
  color: black;
  padding: 6px;
  border: none;
  margin: auto 0.5rem;
  border-radius: 5px;
  outline: none;
}

.search-bar {
  display: none;
}

.search-b-mobile {
  outline: none;
  color: black;
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}

.write-blog {
  margin-top: -0.4rem;
}

.nav-brand,
.nav-brand:hover {
  color: white;
  text-decoration: none;
  margin-top: auto;
  margin-left: 9rem;
}

@media (max-width: 720px) {
  .nav-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-list {
    background-color: black;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 3.1rem 0;
    align-items: center;
    width: 100%;
    text-align: center;
    left: -100%;
    transition: all 0.5s ease-out;
  }

  .nav-list-item {
    margin: 1.5rem 0;
    width: 100%;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 1rem;
    right: 5%;
  }

  .nav-list.active {
    left: 0;
  }

  .search-b {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: none;
  }

  .search-btn-mobile {
    padding: 1rem;
    background-color: white;
    color: black;
  }

  .search-bar {
    display: flex;
  }

  .search-area {
    display: none;
  }
}
