/* 
primary:#14274e;
seconadry:#394867;
semi-secondary:#9aa3b3;
light:#f0f5f8;
*/

.nav-main {
  z-index: 100000;
  width: 100%;
  background: transparent !important;
  transition: 0.3s ease;
}

.nav-main.active {
  background-color: black !important;
}

.navbar-brand {
  color: white !important;
  margin-left: 8rem !important;
}

.nav-item {
  margin: 0 3rem !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  border-bottom: 1px solid white;
  width: fit-content;
}

.toggle-area {
  border-color: white !important;
}

.toggle-icon {
  color: white;
}

.link-color {
  color: white;
}

.nav-link-collection > li {
  margin: 0 2rem;
}

.write-blog {
  width: fit-content;
}

/* Search Bar */

.search-bar {
  outline: none;
}

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input[type="search"] {
  background: transparent
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px transparent;
  padding: 8px 15px 8px 32px;
  width: 55px;
  border-radius: 2rem;
  transition: all 0.5s;
}

input[type="search"]:focus {
  width: 130px;
  background-color: #fff;
}

#search-b input[type="search"] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#search-b input[type="search"]:hover {
  background-color: #fff;
}
#search-b input[type="search"]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
