/* 
primary:#14274e;
seconadry:#394867;
semi-secondary:#9aa3b3;
light:#f0f5f8;
*/

.nav-main {
  z-index: 100000;
  width: 100%;
  background: transparent !important;
  transition: 0.3s ease;
}

.nav-main.active {
  background-color: #14274e !important;
}

.navbar-brand {
  color: white !important;
  margin-left: 5rem;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

.toggle-area {
  border-color: white !important;
}

.toggle-icon {
  color: white;
}

.link-color {
  color: white;
}

.nav-link-collection > li {
  margin: 0 2rem;
}

.s-bar {
  border: 1px solid white;
  border-radius: 2rem;
  position: relative;
  padding: 0.3rem 0;
}

.s-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 1rem;
}

.s-icon {
  color: white;
  position: absolute;
  right: 1rem;
  top: 0.6rem;
}

.write-blog {
  width: fit-content;
}
