.footer-main {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-content-area {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.footer-border-bottom {
  border-bottom: 1px solid white;
}

.footer-links,
.footer-links:hover {
  text-decoration: none;
  color: white;
}

.image {
  background-image: url("https://source.unsplash.com/user/erondu/daily");
}
.animate-bounce {
  animation: bounce 3s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
